<div id="<%= dom_id pokemon %>">
  <p>
    <strong>External:</strong>
    <%= pokemon.external_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= pokemon.name %>
  </p>

  <p>
    <strong>Front default image:</strong>
    <%= pokemon.front_default_image %>
  </p>

</div>
