<p style="color: green"><%= notice %></p>

<h1>Pokemon</h1>

<div id="pokemon">
  <% @pokemon.each do |pokemon| %>
    <%= render pokemon %>
    <p>
      <%= link_to "Show this pokemon", pokemon %>
    </p>
  <% end %>
</div>

<%= link_to "New pokemon", new_pokemon_path %>
