<h1>Pokemon</h1>
<div class="pokemon-group">
  <% @pokemon.each do | pokemon | %>
    <div class="pokemon-wrapper">
      <h2><%= pokemon[:name] %></h2>
      <%= image_tag pokemon[:front_sprite] %>
    </div>
  <% end %>
</div>
