<h1>Pokedex</h1>
<%= form_with url: "/search", method: :post, data: { turbo: false } do |form| %>
  <%= form.label :poke_name, "Search for pokemon:" %>
  <%= form.text_field :poke_name %>
  <%= form.submit "Search" %>
<% end %>

